@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.disabled-input {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #d1d5db;
}
